/*starting at F12 RDM 414 */
*{
    box-sizing: border-box;
}
@media screen and (max-width: 399px){
*{
  display: none;
}
}
@media screen and (min-width: 400px){
header{
    background-color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
  header h1{
    color:  #145e9b;
    font-size: 1em;
    font-weight: bold;
    border: 6px solid #145e9b;
    padding: 6px 12px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.banner img{
    position: relative;
    width: 100%;
    opacity: 0.8;  
    margin-top: 40px;
    border-radius: 20px; 
}
.welcome1{
    position: absolute;
    /* top: 5%; */
    top: 50px;
    left: 5%;
    font-size: 0.85em;
    font-weight: bold;
    color: ivory;
    font-family: Arial, Helvetica, sans-serif;
  }  
.welcome2{
    position: absolute;
    /* top: 10%; */
    top: 80px;
    left: 5%;
    font-size: 0.75em;
    font-weight: bold;
    color: ivory;
    font-family: Arial, Helvetica, sans-serif; 
}
.since{
    position: absolute;
    /* top: 16%; */
    top: 125px;
    left: 50%;    
    font-size: 0.8em;
    font-weight: bold;
    color: ivory;
    font-family: Arial, Helvetica, sans-serif;
  }
  .meeting{
    position: relative;
    max-width: 100%;
    margin-top: 10px;
  }
  .meeting1{
    position: absolute;
    background-color: white;
    color: #145e9b;
    font-size: 0.8em;
    font-weight: bold;
    top: 5%;
    left: 3%;
    width: 30%;
  }
  .meeting2{
    position: absolute;left: auto;    
    background-color: white;
    color: #145e9b;
    font-size: 0.8em;
    font-weight: bold;
    top: 10%;
    right: 35%; 
    width: 30%;
  }
  
  .images1{  
    margin-top: 270px;
     text-align: center;   
    width: 100%;
    max-width: 100%;
  }
  .images1 .column{
    width: 16%;  
    float: left;
    padding: 3px;
  }
  .images1 .column img{  
    height: 45px;
    width: 90px;
    max-width: 100%;
  }
  /* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.images2{  
  position: relative;
  margin-top: 10px;
   text-align: center;   
  width: 100%;
  max-width: 100%;
}
.images2 .column{
  width: 16%;  
  float: left;
  padding: 3px;
}
.images2 .column img{  
  height: 45px;
  width: 90px;
  max-width: 100%;
}
/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}
.president{ 
  position: relative;
  color: #145e9b;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
    max-width: 80%;
    margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;  
}
.president .address{
  margin-top: 65px;
  text-align: left;
  font-weight: bold;
}
.acknowledge img{
  width: 190px;
  height: 140px;
  display: inline-block;
  text-align: center;
  margin-left: 23%;
  margin-right: auto;
  padding: 10px;
}
.ASC{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 0.6em;
}
.ASC1{
  position: absolute;  
  background-color: white;
  color: #145e9b;
  padding: 5px;    
  top: 0;
  left: 8%;
  width: 35%;
}
.ASC2{
  position: absolute;
  background-color: white;
  color: #145e9b;
  padding: 5px;
  top: 0;
  right: 7%; 
  width: 35%; 
}
footer{
  background-color: white;
  color:  #145e9b;
  padding: 20px;
  margin-top: 180px; 
}  
  footer p{
    text-align: center;
  font-family: Arial, Helvetica, sans-serif; 
  }
  }
  @media screen and (min-width: 550px){
  .since{  
    /* top: 16%; */
    top: 180px;   
    font-size: 0.9em;
  }
  .welcome2{ 
    top: 100px;
    font-size: 0.75em;
  }
  .welcome1{
    font-size: 0.95em; 
  }  
  .meeting1{  
    left: 5%;  
  }
  .meeting2{   
    right: 28%;     
  } 
  .images1{  
    margin-top: 250px;
  }
  .acknowledge img{
    margin-left: 30%;
  } 
  }
  @media screen and (min-width: 720px){
  .since{  
    /* top: 16%; */
    top: 220px;   
  } 
  .welcome2{ 
    top: 100px;
    font-size: 0.9em;
  }
  .welcome1{
    top: 40px;
    font-size: 1.2em; 
  } 
  .meeting1{  
    left: 10%;  
  }
  .meeting2{   
    right: 20%;     
  } 
  .images1{  
    margin-top: 230px;
  }
  .images1 .column img{  
    height: 65px;
    width: 110px;
    max-width: 100%;
  }
  .president .address{
    margin-top: 85px;
  }
  .images2 .column img{  
    height: 65px;
    width: 110px;
    max-width: 100%;
  }
  .acknowledge img{
    margin-left: 35%;
  } 
  .ASC{
    font-size: 0.75em;
  }  
  }
  @media screen and (min-width: 900px){
  .since{  
    /* top: 16%; */
    top: 290px;   
    font-size: 1.1em;
  }
  .welcome2{ 
    top: 100px;
    font-size: 1.1em;
  }
  .welcome1{
    font-size: 1.3em; 
  } 
  .meeting2{   
    right: 15%;     
  } 
  .images1{  
    margin-top: 200px;
  }
  .images1 .column img{  
    height: 90px;
    width: 180px;
  }
  .president .address{
    margin-top: 120px;
  }
  .images2 .column img{  
    height: 90px;
    width: 180px;
  }
  .ASC{
    font-size: 0.8em;
  }
  }   
  @media screen and (min-width: 1000px){
  .since{  
    /* top: 16%; */
    top: 310px;   
    font-size: 1.1em;
  }
  .meeting1{  
    left: 18%;  
  }
  .acknowledge img{
    margin-left: 40%;
  } 
  .ASC{
    font-size: 0.8em;
  }
  .ASC1{
    left: 12%;
  }
  .ASC2{
    right: 4%; 
  }
  }
@media screen and (min-width: 1200px){
  .images1 .column img{  
    height: 115px;
    width: 195px;
  }
  .images2 .column img{  
    height: 115px;
    width: 195px;
  }
}



