/*Stylesheet for Greenock Mens Speakers web page*/
/*  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  header{
    position: fixed;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 1;
    top: 0;
    left: 0;    
  }
  header h2{
    color:  #145e9b;
    border: 6px solid #145e9b;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .banner img{
    position: relative;
    width: 100%;
    opacity: 0.8;  
    margin-top: 95px;
    border-radius: 20px;    
  }
  .welcome1{
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 1.8em;
    color: ivory;
    font-family: Arial, Helvetica, sans-serif;
  }
  .welcome2{
    position: absolute;
    top: 27%;
    left: 10%;
    font-size: 1.1em;
    color: ivory;
    font-family: Arial, Helvetica, sans-serif;
  }   
  .since{
    position: absolute;
    top: 47%;
    left: 47%;    
    font-size: 1.3em;
    color: ivory;
    font-family: Arial, Helvetica, sans-serif;
  }
  div.meeting{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative; 
     
  }
  div.meeting1{
    position: absolute;
    background-color: white;
    color: #145e9b;
    top: 10%;
    left: 8;
    width: 30%;
  }
  div.meeting2{
    position: absolute;left: auto;    
    background-color: white;
    color: #145e9b;
    top: 10%;
    right: 15%; 
    width: 30%;
  }
.images1 ul{  
    margin-top: 210px;
    text-align: center;   
    white-space: nowrap;  
    width: 100%;     
  }
  .images1 li{
    display: inline-block;
    max-block-size: 100%;
    width: 16%;  
  }
  .images1 li img{  
    height: 90px;
    width: 180px;
    max-width: 100%;
  }
  .president{ 
    text-align: left;
    color: #145e9b;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .president h2{
    text-align: center;
  }
  .president p{
    max-width: 70%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
  }
  .images2{  
    margin-top: 5px;
    text-align: center;   
    white-space: nowrap;  
    width: 100%;
  }
  .images2 li{
    display: inline-block;
    max-block-size: 100%;
    width: 16%;
  }
  .images2 li img{  
    height: 90px;
    width: 180px;
    max-width: 100%;
  }
  .acknowledge img{
    width: 190px;
    height: 140px;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    margin-right: auto;
    padding: 10px;
  }
  .ASC{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
  }
  .ASC1{
    position: absolute;  
    background-color: white;
    color: #145e9b;
    padding: 10px;    
    top: 0;
    left: 12%;
    width: 35%;
  }
  .ASC2{
    position: absolute;
    background-color: white;
    color: #145e9b;
    padding: 10px;
    top: 0;
    right: 5%; 
    width: 35%; 
  }
    footer{
    background-color: white;
    color:  #145e9b;
    padding: 20px;
    margin-top: 200px; 
  }  
    footer p{
      text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    }
    @media screen and (max-width: 991px) {
      .banner .since{
        font-size: 1.1em;
      }
      .welcome1{
        top: 12%;
        font-size: 1.5em;
      }
      .welcome2{
        top: 22%;
        font-size: 1.1em;
      }
      .since{
        font-size: 0.9em;
        top: 41%;
      }
      .images1{  
        margin-top: 235px;      
      }
      .images1 li img{  
        height: 90px;
        width: 180px;
      }
      .images2 li img{  
        height: 90px;
        width: 180px;
      }
      .ASC{
        font-size: 0.9em;
      }
      }
      @media screen and (max-width: 767px) {
      .welcome1{
        top: 16%;
        font-size: 1.2em;
        left: 5%;
      }
      .welcome2{
        top: 25%;
        font-size: 0.9em;
        left: 5%;
      }
      .since{
        top: 40%;
        font-size: 1.1em;
      }
      div.meeting1{
        left: 9%; 
      }
      div.meeting2{
        right: 26%;   
      }
      .images1{  
        margin-top: 285px;      
      }
      .images1 li img{  
        height: 70px;
        width: 150px;
      }
      .images2 li img{  
        height: 70px;
        width: 150px;
      }
      .ASC{
        font-size: 0.8em;
      }
      }
      @media screen and (max-width: 597px){
      .welcome1{
        top: 16%;
        font-size: 1em;
        left: 5%;  
      } 
      .welcome2{
        top: 25%;
        font-size: 0.7em;
        left: 5%;         
      }
      .banner .since{
        display: none;
      }
      }
      @media screen and (max-width: 479px) {
      .welcome1{
        top: 16%;
        font-size: 0.9em;
      }
      .welcome2{
        top: 42%;
        font-size: 0.65em;
        left: 5%;
        display: none;
      }
      .banner .since{
        display: none;
      }
      div.meeting1{
        font-size: 0.9em;
        top: 35px;
        left: 5%;
      }
      div.meeting2{
        font-size: 0.9em;
        top: 35px;
        right: 28%; 
      }
      .images1{  
        margin-top: 325px;
      }
      .images1 li img{  
        height: 50px;
        width: 140px;
      }
      .images2 li img{  
        height: 50px;
        width: 140px;
      }
      .acknowledge img{
        width: 190px;
        height: 140px;        
        margin-left: 30%;        
      }
      .ASC{
        font-size: 0.7em;
      }
    }*/